{{!-- TODO: Posting is not working, need a form to submit a new Post --}}

<div class="post">
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>{{thisPost.title}}</h2>

      <div>
        Posted
        {{formatDate thisPost.date}}
        by
        {{thisPost.user.user_name}}
      </div>
    </div>

    <div class="card-body">
      {{thisPost.post_text}}
    </div>
  </article>

  {{#if thisPost.comments}}
  <section class="card">
    <div class="card-header">
      <h3>Comments</h3>
    </div>

    <div class="card-footer">
      {{#each thisPost.comments}}
      <div>
        <p>
          {{comment_text}}
        </p>

        <p>
          &mdash; {{user.user_name}}, {{formatDate comment.date}}
        </p>
      </div>
      {{/each}}
    </div>
  </section>
  {{/if}}

  <form id="new-comment-form" class="card">
    <div class="card-header">
      <h3>New Comment</h3>
    </div>

    <div class="card=body">
      <input type="hidden" name="post-id" value="{{thisPost.id}}"/>

      <label class="form-label" for="comment-body">Comment</label>

      <textarea name="comment-body" class="form-input"></textarea>

      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>